doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.main-container
      nav
        a(href='/') Home
        a(href='/catalog/games') Games
        a(href='/catalog/developers') Developers
        a(href='/catalog/genres') Genres
        a(href="/catalog/awards") Awards
        a(href='/catalog/gamecopies') Game Copies

      block content
