doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Home
      a(href='/catalog/games') Games
      a(href='#') Developers
      a(href='#') Genres
      a(href='#') Game Copies

    block content
